* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e2e4f0;
}

.card {
	width: 290px;
	height: 401px;
	position: relative;
	top: 50px;
	left: 50px;
	border-radius: 10px;
	background-color: #ffffff;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding-top: 20px;
	box-sizing: border-box;
}

.circles {
	position: relative;
	display: inline-block;
}

.circle1 {
	position: relative;
	width: 146px;
	height: 146px;
	border-radius: 50%;
	overflow: hidden;
}

.circle2 {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 120px;
	transform: translateX(-50%) translateY(-50%);
	background: #fff;
	border-radius: 50%;
}

.segment {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform-origin: 0 0;
}

.blue {
	background-color: #8676ff;
}

.pink {
	background-color: #ff708b;
}

.seg1 {
	transform: rotate(270deg) skew(40deg);
}

.seg2 {
	transform: rotate(320deg) skew(-50deg);
}

.seg3 {
	transform: rotate(100deg) skew(50deg);
}

.yellow {
	background-color: #ffba69;
	transform: rotate(320deg) skew(-50deg);
}

.yellow1 {
	background-color: #ffba69;
	transform: rotate(270deg);
}

.yellow2 {
	background-color: #ffba69;
	transform: rotate(0deg);
}

.yellow3 {
	background-color: #ffba69;
	transform: rotate(90deg) skew(-40deg);
}

.circular-progress-yellow {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	background-color: #ffba69;
	transform: translateX(-50%) translateY(-50%);
	background: #fff;
	border-radius: 50%;
	overflow: hidden;
}

.circular-progress-inner2 {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 70px;
	height: 70px;
	transform: translateX(-50%) translateY(-50%);
	background: #fff;
	border-radius: 50%;
}

.circular-progress-blue {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 10px;
	height: 10px;
	border: solid #8676ff 5px;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 50%;
	overflow: hidden;
}

.grey-line {
	position: absolute;
	width: 130px;
	height: 130px;
	border: solid #dbdff1 4.9px;
	border-radius: 50%;
	top: 3px;
}

.grey-line2 {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80px;
	height: 80px;
	border: solid #dbdff1 4.9px;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 50%;
}

.grey-line3 {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	background-color: #f4f6ff;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 50%;
	overflow: hidden;
}
